<html lang="en" ng-app="webgmeWizard">
<head>
  <meta charset="utf-8">
  <title>Web GME Meta Wizard</title>
  <script type="text/javascript" src="/extlib/node_modules/webgme/dist/webgme.classes.build.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="css/app.css" type="text/css">
  <script type="text/javascript">
    var myInit = function () {
      console.log('myInit function was called');
      // you can use GME.classes.Client from this point
      console.log(GME);
      // TODO: add some client examples
    };
  </script>

</head>
<body on-gme-init="myInit()">
<div align="center">
	<img src="img/hearder_logo.png" alt="logo" style="width:100px;height:100px;" >
	<font size="25" color="red" bold="true">WebGME-Wizard</font>
</div>
<hr>
<div align="center" ng-controller="indexCtrl">
  <button ng-click="goCreateProject()" type="btnCreateProject" class="btnCreateProject" >Create project </button>
  <button ng-click="goOpenProject()" type="btnCreateProject" class="btnCreateProject">Open project </button>
</div>
</body>
</html>
