<html lang="en" ng-app="webgme_wizard">
<head>
  <meta charset="utf-8">
  <title>Web GME Meta Wizard</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript">
    var myInit = function () {
      console.log('myInit function was called');
      // you can use GME.classes.Client from this point
      console.log(GME);  
      // TODO: add some client examples
    };
  </script>
  <script src="controller.js"></script>
</head>

<body on-gme-init="myInit()">
<p align="center">WebGme-Wizard Questions</p>
	<hr>
	<div ng-app = "webgme_wizard">
		<form name="projectForm" ng-controller="FormCtrl" action="#" ng-submit="submitForm()">
		  <label>What is your domain?</label>
		  <br>
		  <input type="text" ng-model="form.projectName" placeholder="Enter name of project here">     
		  <p>Your domain is {{form.projectName}}!</p>
		<hr>
		  <label>What is the name of a new branch?</label>
		  <br>
		  <input type="text" ng-model="form.branchName" placeholder="Enter name of branch here">
		  <p>Your branch is {{form.branchName}}!</p>
		<hr>
		  <label>Do you wanna add/modify/delete a meta node?</label>
		  <br>
		  <input type="radio" ng-model="form.manageMeta" value="Add"> Add
		  <input type="radio" ng-model="form.manageMeta" value="Modify"> Modify
		  <input type="radio" ng-model="form.manageMeta" value="Delete"> Delete
		<hr>
		  <label>You wanna add attribute or edit attribute?</label> 
		  <br>
		  <input type="radio" ng-model="form.manageAttr" value="Add">Add
		  <input type="radio" ng-model="form.manageAttr" value="Modify">Modify
		<hr>
		  <label>Enter attribute name</label>
		  <br>
		  <input type="text" ng-model="form.addAttrName" placeholder="Enter name of Attribute">
		  <br>
		  <label>Enter value</label>
		  <br>
		  <input type="text" ng-model="form.addAttrVal" placeholder="Enter value of Attribute">
		  <br>
		<hr>
		<label>Select the attribute</label>
		  <br>
		  <select>
		    <option value="state">state</option>
		  </select>
		  <br>
		  <label>Enter value</label>
		  <br>
		  <input type="text" ng-model="form.editAttrVal" placeholder="Enter value of Attribute">
		  <br>
		<hr>
		  <input type="submit" ngClick="Submit">
		</form>  
	</div>

</body>
</html>
