<html lang="en" ng-app="webgmeWizard">
<head>
  <meta charset="utf-8">
  <title>Web GME Meta Wizard</title>
  <script type="text/javascript" src="/extlib/node_modules/webgme/dist/webgme.classes.build.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="css/app.css" type="text/css">
  <script type="text/javascript">
    var myInit = function () {
      console.log('myInit function was called');
      // you can use GME.classes.Client from this point
      console.log(GME);
      // TODO: add some client examples
    };
  </script>

</head>

<body on-gme-init="myInit()" ng-controller="modelsCtrl">
<div>
	<img src="img/hearder_logo.png" alt="logo" style="width:100px;height:100px;" >
	<font size="25" color="red" bold="true">WebGME-Wizard</font>
	<label style="font-size:25px;margin-left:30px;align:right">Your Domain--Your Branch</label>
</div>
<hr>
<div style="height:50px;">
</div>

<div align="center">
 <label style="font-size:25px">Edit your MetaNode</label>
 <form  ng-submit="addRow()"  style="margin-top:20px;">
	<input type="text" ng-model="modelName" placeholder="Input your meta node" style="width:300px;height:50px;font-size:20px;font-family:Times New Roman;">
	<input type="submit" value="Add" class="btnAdd">
 </form>
</div>

<div align="center" style="height:300px; overflow:auto;">
  <table class="bordered" style="table-layout:fixed; width:600px;">
	<tr style="width:80px;overflow: hidden;">
		<th>No.
		</th>
		<th>Name
		</th>
		<th>Operation
		</th>
	</tr>
	<tr ng-repeat="model in models" style="width:80px;overflow: hidden;">
		<td>{{$index + 1}}
		</td>
		<td>{{model.modelName}}
		</td>
		<td>
			<button ng-click="deleteModel($index)" value="delete" class="btnDel">delete</button>
		</td>
	</tr>
</table>
</div>

<div align="right">
	 <button class="btnNext" ng-click="submitForm()" value="next">Next</button>
</div>


</body>
</html>