<div style="height:50px;">
</div>
<div align="center">
	 <!-- add connection(relationship) between src to dst -->
  <form name="relationsForm" action="#" ng-submit="addRelation()">
      <label style="font-size:25px;"> Add a relation from </label>
      <select ng-model="selectedProject">
        <option ng-repeat="src in models">{{src.name}}</option>
      </select>
      <label style="font-size:25px;"> to </label>
      <select ng-model="selectedProject">
        <option ng-repeat="dst in models">{{dst.name}}</option>
      </select>
    <input type="submit" value="Add" class="btnAdd">
  </form>
</div>
<div align="center" style="height:300px; overflow:auto;">
  <table class="bordered" style="table-layout:fixed; width:600px;">
	<tr style="width:80px;overflow: hidden;">
		<th>src
		</th>
		<th>dst
		</th>
		<th>
		</th>
	</tr>
	<tr ng-repeat="relation in relations" style="width:80px;overflow: hidden;">
		<td>{{relation.relationsrc}}
		</td>
		<td>{{relation.relationdst}}
		</td>
		<td>
			<button ng-click="deleteRelation($index)" value="delete" class="btnDel">delete</button>
		</td>
	</tr>
</table>
</div>
<div align="right">
	<a href="#/return">
		<button ng-click="submitForm()" value="Finish" class="btnNext">Finish</button>
	</a>
</div>