<div style="height:50px;">
</div>
<div align="center" >
	 <!-- add connection(relationship) between src to dst -->
  <form name="openprojectForm" action="#" ng-submit="submitForm()">
      <label style="font-size:25px;"> Open a project from </label>
      <select ng-model="selectedProject">
        <option ng-repeat="project in projects">{{project}}</option>
      </select>
      <label style="font-size:25px;">(Project) & </label>
      <select ng-model="selectedBranch">
        <option ng-repeat="branch in branches">{{branch}}</option>
      </select>
      <label style="font-size:25px;">(Branch)</label>  
      <a href="#/newModel">
      	<input type="submit" value="Open" class="btnAdd">
      </a>
  </form>  
</div>
